// {
//   "plugins": [
//     [
//       "module-resolver",
//       {
//         "root": ["../"],
//         "alias": {
//           "@tailwind": "./tailwind",
//           "@assets": "./constants/assets_manifest",
//           "@sharedComponents": "./sharedComponents",
//           "@constants": "./constants",
//           "@workers": "./workers",
//           "@remote": "./remote",
//           "@actions": "./store/actions"
//         }
//       }
//     ]
//   ]
// }
{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@tailwind": "./tailwind",
          "@assets": "./constants/assets_manifest",
          "@sharedComponents": "./sharedComponents",
          "@constants": "./constants",
          "@workers": "./workers",
          "@remote": "./remote",
          "@actions": "./store/actions"
        }
      }
    ]
  ]
}